*{
    font-family: 'Aleo', serif;
    color: white;
}
body{
background: rgb(2,2,2);
background: -moz-linear-gradient(36deg, rgba(2,2,2,1) 0%, rgba(85,85,85,1) 100%);
background: -webkit-linear-gradient(36deg, rgba(2,2,2,1) 0%, rgba(85,85,85,1) 100%);
background: linear-gradient(36deg, rgba(2,2,2,1) 0%, rgba(85,85,85,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#020202",endColorstr="#555555",GradientType=1);
}
#font{
    font-family: robo;
    font-size: 35px;
}
/*
nav{
    position: relative;
    width: auto;
    height: 50px;
    border-radius: 8px;
    background: rgb(2,2,2);
    background: -moz-linear-gradient(36deg, rgba(2,2,2,1) 0%, rgba(85,85,85,1) 100%);
    background: -webkit-linear-gradient(36deg, rgba(2,2,2,1) 0%, rgba(85,85,85,1) 100%);
    background: linear-gradient(36deg, rgba(2,2,2,1) 0%, rgba(85,85,85,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#020202",endColorstr="#555555",GradientType=1);
    font-size: 0;
    box-shadow: 0 2px 3px 0 rgba(0,0,0, .1);
}
nav a{
    font-size: 15px;
    text-transform: uppercase;
    color: white;
    text-decoration: none;
    line-height: 50px;
    position: relative;
    z-index: 1;
    display: inline-block;
    text-align: center;
}
nav .animation{
    position: absolute;

}
a:nth-child(1){
 width: 500px;
}
nav .start-home, a:nth-child(1):hover~.animation{
    width: 100px;
    left: 0;
}
a:nth-child(2){
 width: 110px;
}
nav .start-home, a:nth-child(2):hover~.animation{
    width: 100px;
    left: 110px;
}
a:nth-child(3){
 width: 140px;
}
nav .start-home, a:nth-child(3):hover~.animation{
    width: 100px;
    left: 140px;
}
a:nth-child(4){
 width: 140px;
}
nav .start-home, a:nth-child(4):hover~.animation{
    width: 100px;
    left: 310px;
}
a:nth-child(5){
 width: 140px;
}
*/
.accueil{
    height: 768px;
    width: auto;
    display: flex;
    flex-direction: column;
    background-repeat: no-repeat;
}
#titre1{
    padding: 100px;
    font-weight: 500;
    font-size: 62px;
    line-height: 93px;
    margin: 16px;
    text-align: center;
    text-shadow: 2px 2px #5c0f2250;
}

.text{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 718px;
    width: auto;
    background-color: rgb(54, 54, 35);
    text-align: center;
    background-image: url("./Images/man_woman_ok.jpg");
}
#line{
    width: 606.725px;
    border-bottom: 1px solid #fff;
    padding: 10px;
    font-size: 50px;
    
}
.bali{
    display: flex;
    flex-direction: row;
    height: 768px;
    width: auto;
   
}
.image1{
    width: 50%;
    height: 100%;
    background-image: url("./Images/naked-rosé-768.jpg");
}
.box1{
    width: 50%;
    height: 100%;
    
    
}
.paragraph1{
    font-size:25px;
    text-align: center;
}
.container-fluid{
    margin: 50px;
}
.horaire{
    display: flex;
    height: 768px;
    width: auto;
   
}

.image2{
    width: 50%;
    height: 100%;
   
}
.box2{
    width: 50%;
    height: 100%;
    background: rgb(16, 44, 126);
    background-image: url("./Images/rosé_768.jpg");
    
}
.tarifs{
    display: flex;
    height: 768px;
    width: auto;
    
}
.row{
    font-size: 30px;
}
.image3{
    width: 50%;
    height: 100%;
    background-color: rgb(198, 168, 226);
    background-image: url("./Images/Carré-girl.jpg");
}
.box3{
    width: 50%;
    height: 100%;
  
    
}
.contact{
    display: flex;
    height: 768px;
    width: auto;
   
}
.image4{
    width: 50%;
    height: 100%;
   
}
.box4{
    width: 50%;
    height: 100%;
    background: rgb(238, 239, 241);
    background-image: url("./Images/Girl_rosé_768.jpg");
}
.titreC{
text-align: center; 
font-size: 45px; 
margin-bottom: 50px;
}
.reveal{
    opacity: 0;
    transform:translateY(-30px) ;
}
.reveal-visible{
    opacity: 1;
    transform:translateY(0) ;
    transition: 1s cubic-bezier(.5, 0, 0, 1);
}

/* Basic styling */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
  }
  .font{
    font-family: robo;
    font-size: 35px;
}
  body {
    font-family: sans-serif;
  }
  
  nav {
    background: #222;
    padding: 5px 20px;
    color: white;
  }
  ul {
    list-style-type: none;
    height:  50px;
    text-align: center;
  }
  a {
    color: white!important;
    text-decoration: none;
  }
  a:hover {
    text-decoration: underline;
  }
  .logo a:hover {
    text-decoration: none;
  }
  .menu li {
    font-size: 16px;
    padding: 15px 5px;
    white-space: nowrap;
  }
  .logo a,
  .toggle a {
    font-size: 20px;
  }
  .button.secondary {
    border-bottom: 1px #444 solid;
  }
  
  /* Mobile menu */
  .menu {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
  }
  .toggle {
    order: 1;
  }
  .item.button {
    order: 2;
  }
  .item {
    width: 100%;
    text-align: center;
    order: 3;
    display: none;
  }
  .item.active {
    display: block;
  }
  
  /* Navbar Toggle */
  .toggle {
    cursor:pointer;
  }
  .bars {
    background: #999;
    display: inline-block;
    height: 2px;
    position: relative;
    transition: background .2s ease-out;
    width: 18px;
  }
  .bars:before,
  .bars:after {
    background: #999;
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    transition: all .2s ease-out;
    width: 100%;
  }
  .bars:before {
    top: 5px;
  }
  .bars:after {
    top: -5px;
  }
  
  /* Tablet menu */
  @media all and (min-width: 468px) {
    .menu {
        justify-content: center;
    }
  
    .logo {
        flex: 1;
    }
  
    .item.button {
        width: auto;
        order: 1;
        display: block;
    }
    .toggle {
        order: 2;
    }
    .button.secondary {
        border: 0;
    }
    .button a {
        padding: 7.5px 15px;
        background: teal;
        border: 1px #006d6d solid;
        border-radius:50em;
    }
    .button.secondary a {
        background: transparent;    
    }
    .button a:hover {
        text-decoration: none;
        transition:all .25s;
    }
    .button:not(.secondary) a:hover {
        background: #006d6d;
        border-color: #005959;
    }
    .button.secondary a:hover {
        color: #ddd;
    }

  }

  
  /* Desktop menu */
  @media all and (min-width: 768px) {
    .item {
        display: block;
        width: auto;
    }
    .toggle {
        display: none;
    }
    .logo {
        order: 0;
    }
    .item {
        order: 1;
    }
    .button {
        order: 2;
    }
    .menu li {
        padding: 15px 10px;
    }
    .menu li.button {
        padding-right: 0;
    }
    
  }
 